.profile-user-contact{
    display: flex;
    align-items: center;
    gap: 15px;

    a{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: var(--blue-640);
        text-decoration: none;
    }

    .contact-icon{
        height: 30px;
        width: 30px;
    }
}
