.selected-message {
  & :global(.vkuiSimpleCell):global(.vkuiTappable) {
    background-color: var(--vkui--color_transparent--hover);
  }
}

.conversation-preview {
  & :global(.vkuiSimpleCell__indicator) {
    min-width: fit-content;
  }
}