.a-status{
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: lowercase;
    font-size: 1em;

    &__marker{
        display: inline-block;
        min-height: 1.1em;
        min-width: 1.1em;
        border-radius: 50%;
    }
}
